<div class="container pt-5">
  <div class="row">
    <div class="col-md-7 mx-auto">
      <div class="card shadow">
        <% if @post.post.attached? %> <!-- @postがpost(video)を持っているか確かめる -->
        <div class="card-body">
          <h6 class="card-title">
              <h5>タイトル</h5>
          <p><%= @post.title %></p>
          <p class="card-text">
            <h5>説明</h5>
          <p><%= @post.body %></p>
          <h5>カテゴリー</h5>
          <% @post.categories.each do |category| %>
          <%= category.name %>
          <% end %>
          </p>
          <%= video_tag rails_blob_path(@post.post), size: "500x300",autoplay: true, muted: true %>
        <% end %>
      </div>
    </div>
</div>
