<div class="mx-auto col-md-8 pt-4">
  <div class="container">
    <div class="row">
      <% @posts.each do |post| %>
      <div class="col-md-5 mb-3">
        <div class="card shadow">
          <%= video_tag rails_blob_path(post.post), size: "200x100",autoplay: true, muted: true %>
          <div class="card-body">
            <h5>練習メニュー名</h5>
            <p><%= post.title %></p>
            <p class="card-text">
            <h5>カテゴリー</h5>
            <% post.categories.each do |category| %>
            <%= category.name %><br>
            <% end %>
            <%= link_to "READ MORE", coaches_post_path(post.id) %>
          </div>
        </div>
    </div>
    <% end %>
  </div>
</div>