<div class="send-msg fixed-bottom">
    <%= form_with model: @message, remote:true, method: :post do |f| %>
      <%= f.text_field :content, placeholder: "メッセージを入力して下さい" , size: 90 %>
      <%= f.hidden_field :room_id, value: @room.id %>
      <%= f.submit "投稿", class: 'form-submit'%>
    <% end %>
</div>