<h4 class="rooms-title">Chat Room</h4>
<% @coach_entries.each do |e| %>
  <div class="user-name">
  <strong>
    <a  href="/coaches/<%= e.coach.id %>">
        <%= e.coach.name %>さん
    </a>
  </strong>
  </div>
<% end %>
<hr>
<div class="chats">
  <div class="chat" id= "message" >
    <!--messageが入っているかどうか-->
    <%= render 'rooms/message'%>
  </div>
   
</div>