/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
/*=====================================
 Reset CSS
=====================================*/
 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans JP', sans-serif;
 }
/*=====================================
 共通 CSS
=====================================*/

body{
  min-height: 100vh;
}

main{
  background-color: #dddddd;
  min-height: 100vh;
}

/*=====================================
 devise login signup CSS
=====================================*/
.join{
 text-align: center;
 padding-top: 50px;
}
/*=====================================
 sidebar CSS
=====================================*/

.logo{
  color: white;
}

ul{
  list-style: none;
  padding: 0;
}
/*一般側,コーチ側名前表示*/
.name{
  color: white;
  font-size: 12px;
}
/*テキスト*/
.nav-item{
  font-size: 1.235rem;
  color: #fff;
  background: linear-gradient(transparent  95%, #fff 70%); /*文字したにアンダーバー*/
  padding-bottom: 15px;
  padding-left: 10px;
  .link{
    text-decoration: none;/*link_toのリンクの線を消す*/
  }
}
/*=====================================
 top CSS
=====================================*/
.home-content {
    height: 500px;
    text-align: center;
    background-size: cover;
    background-image: image-url("rugby2.jpg");
}

.home-content p {
    padding-top: 20px;
    font-size: 1.125rem;
    color: #dddddd;
    font-family: 'Shippori Mincho', serif;
}
/*見出し*/
.homepage-title {
    padding-top: 100px;
    font-size: 5rem;
    text-transform: uppercase;/*全ての文字を大文字に変換*/
    color: #dddddd;
    font-family: 'Shippori Mincho', serif;
}
/*about*/
.about {
    padding-top: 30px;
    background-color: #dddddd;
}

.home-about-text {
    display: flex;
    justify-content: flex-start;
}
/*コーチ募集欄*/
.coach-recruit{
  height: 600px;
  padding: 30px 0;
  background-size: cover;
  background-image: image-url("coach.jpg");
}
.coach-recruit-content{
  padding: 30px;
  color: white;
}
/*見出し*/
.coach-recruit p {
  font-family: 'Shippori Mincho', serif;
}
.home-coach{
  font-family: 'Shippori Mincho', serif;
}
.coach-title{
width: 100%;
text-align: center;
}
/*コーチ登録ボタン*/
.coach-button{
  width: 200px;
  margin: 0 auto;
  font-size: 1.375rem;
  background: #ed1c24;
  color: #fff;
  border-radius: 5px;
  padding: 18px 32px;
  
}

/*=====================================
 user&coach/edit  CSS
=====================================*/
.container_profile_edit{
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
.profile-edit {
	position: relative;
	width: 80%;
	padding: 40px 3%;
}
.profile-edit input[type=text] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	padding: 8px 0;
	padding: 0.3em;
	transition: 0.3s;
	border: 1px solid #3aacad;
	border-radius: 4px;
	outline: none;
}

.profile-edit input[type=text] {
	padding-left: 40px;
}

.profile-edit textarea{
 font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	padding: 8px 0;
	padding: 0.3em;
	transition: 0.3s;
	border: 1px solid #3aacad;
	border-radius: 4px;
	outline: none;
	padding-left: 40px;
}
/*=====================================
 post関係タイトル  CSS
=====================================*/
.pst{
  width: 200px;
  font-size: 30px;
  padding: 5px;
  margin: 20px auto;
  font-weight: bold;
  color: #6699FF;/*文字色*/
  background: #dddddd;
  border: solid 3px #6699FF;/*線*/
  border-radius: 10px;/*角の丸み*/

}
.pst p{
  text-align: center;
}
/*=====================================
 room/show CSS
=====================================*/
.chat-room-user{
  width: 400px;
  margin: 40px 350px;
  text-align: center;
  background: linear-gradient(transparent 70%, #ff99ab 70%);
}
/*左側メッセージ表示*/
.left-message{
  text-align: left;
  padding: 5px 200px;
}

.left-message .bms_message_box{
  position: relative;
  display: inline-block;
  width: 200px; 
  text-align: center;
  color:#FFF;
  padding: 25px;
  background-color: #ea5550;
  border-radius: 5px;
}
.left-message .bms_message_box:before {
  content: '';
  position: absolute;
  display: block;
  z-index: 1;
  border-style: solid;
  border-color: transparent #ea5550;
  border-width: 10px 10px 10px 0;
  top: 50%;
  left: -10px;
  margin-top: -10px;
}
/*右側メッセージ表示*/
.right-message{
  text-align: right;
  padding: 5px 200px;
  margin-top: 20px;/*上下の吹き出しがひっつかない様に隙間を入れる*/
  max-width: 100%;/*文字が長くなった時に吹き出しがタイムラインからはみ出さない様にする*/
  font-size: 16px;
}


.right-message .bms_message_box {
  position: relative;
  display: inline-block;
  width: 200px; 
  text-align: center;
  color:#FFF;
  padding: 25px;
  background-color: #00afcc;
  border-radius: 5px;
}
.right-message .bms_message_box:before {
  content: '';
  position: absolute;
  display: block;
  z-index: 1;
  border-style: solid;
  border-color: transparent #00afcc;
  border-width: 10px 0 10px 10px;
  top: 50%;
  right: -10px;
  margin-top: -10px;
}
/*メッセージ送信フォーム*/
.send-msg{
 padding-left: 500px;
 margin: 20px;
}

/*=====================================
 footer CSS
=====================================*/
.footer{
  height: 100px;
}
