/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';
/*=====================================
 Reset CSS
=====================================*/
 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans JP', sans-serif;
 }
/*=====================================
 共通 CSS
=====================================*/

body{
  min-height: 100vh;
}

main{
  background-color: #dddddd;
  min-height: 100vh;
}

/*=====================================
 devise login signup CSS
=====================================*/
.join{
 text-align: center;
 padding-top: 50px;
}
/*=====================================
 sidebar CSS
=====================================*/

.logo{
  color: white;
}
.navbar {
    position: sticky;
    top: 0;
    z-index: 1071;
}
.sidebar_fixed {
  position: sticky;
  top: 60px;
}

ul{
  list-style: none;
  padding: 0;
}
/*一般側,コーチ側名前表示*/
.name{
  color: white;
  font-size: 12px;
}
/*テキスト*/
.nav-item{
  /*アニメーションの起点とするためrelativeを指定*/
    position: relative;
	overflow: hidden;
    /*ボタンの形状*/
	text-decoration: none;
	display: inline-block;
    padding: 10px 30px;
    text-align: center;
    outline: none;
    /*アニメーションの指定*/   
    transition: ease .2s;
 
  
  .link{
     position: relative;
	z-index: 3;/*z-indexの数値をあげて文字を背景よりも手前に表示*/
	color:#ffffff;
	text-decoration: none;/*link_toのリンクの線を消す*/
  }
}
  
  .nav-item:hover .link{
	color:#000000;
}
.bg:before {
 	content: '';
    /*絶対配置で位置を指定*/
 	position: absolute;
 	top: 0;
 	left: 0;
 	z-index: 2;
    /*色や形状*/
 	background:#ffffff;/*背景色*/
 	width: 100%;
	height: 100%;
    /*アニメーション*/
 	transition: transform .6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
 	transform: scale(0, 1);
	transform-origin: right top;
}

/*hoverした際の形状*/
.bg:hover:before{
	transform-origin:left top;
	transform:scale(1, 1);
}
/*=====================================
 top CSS
=====================================*/
/*スライドショー画像*/
.image1 {
  background-image: url(rugby2.jpg);
}
.image2 {
  background-image: url(swimming1.jpg);
}
.image3 {
  background-image: url(kendoo.jpg);
}
.image4 {
  background-image: url(basketball-team.jpg);
}
.image5 {
  background-image: url(icehockey2.jpg);
}
.image6 {
  background-image: url(lacrosse-img.jpg);
}
.image7 {
  background-image: url(soccer-shot.jpg);
}

#randam{
  height: 750px;
}
/*スライドショー内文字*/
.slide .container{
  position: absolute;
  top: 10%;
  left: 5%;
  z-index: 999;
  width: 1000px;
}
.home-title{
  font-size: 5rem;
  text-transform: uppercase;/*全ての文字を大文字に変換*/
  color: #dddddd;
  font-family: 'Shippori Mincho', serif;
}
.tagline p{
  font-size: 1.789rem;
  color: #dddddd;
  font-family: 'Shippori Mincho', serif;
}

/*about*/
.about {
  padding: 30px;
  background-color: #dddddd;
}
.home-about-text {
  display: flex;
  justify-content: flex-start;
}
.under-line-red{
  width: 220px;
  background:linear-gradient(transparent 70%, #ff7f7f 0%);/*文字にアンダーライン*/
}
.under-line-blue{
  width: 370px;
  background:linear-gradient(transparent 70%, #6495ed 0%);/*文字にアンダーライン*/
}
/*新規登録勧誘*/
.home-start{
  padding: 30px;
}
/*登録するボタン*/
.new-link{
  width: 200px;
  font-size: 20px;
    /*ボタンの形状*/   
	display:inline-block;
  background:#2ca9e1;
  padding: 10px 20px;
  border: 5px solid #2ca9e1;
  outline: none;
  /*アニメーションの指定*/   
  transition:.3s ease-out;
  .link{
    text-decoration: none;
    color: #fff;    };
}

.new-button{
  text-align: center;
}
.new-link:hover{
	background:#2ca9e1;
	border-radius: 20px;	
	.link{
	  color: #a2d7dd;
	}
}
/*コーチ募集欄*/
.coach-recruit{
  height: 600px;
  padding: 30px 0;
  background-size: cover;
  background-image: image-url("coach.jpg");
}
.coach-recruit-content{
  padding: 30px;
  color: white;
}
/*見出し*/
.coach-recruit p {
  font-family: 'Shippori Mincho', serif;
}
.home-coach{
  font-family: 'Shippori Mincho', serif;
}
.homepage-title {
  padding-top: 100px;
  font-size: 5rem;
  text-transform: uppercase;/*全ての文字を大文字に変換*/
  color: #dddddd;
  font-family: 'Shippori Mincho', serif;
}

.coach-title{
width: 100%;
text-align: center;
}
/*コーチ登録ボタン*/
.home-button{
  width: 200px;
  font-size: 20px;
    /*ボタンの形状*/   
	display:inline-block;
  background: #e60033;
  padding: 10px 20px;
  border: 5px solid #e60033;
  outline: none;
  /*アニメーションの指定*/   
  transition:.3s ease-out;
  .link{
    text-decoration: none;
    color: #fff;    }
}
/*hoverした際の角丸のアニメーション*/
.home-button:hover{
	background:#e60033;
	border-radius:20px;	
	.link{
	  color: #ffb2d8;
	}
}
/*=== 9-1-4 矢印が動いてスクロールを促す  ====*/

/*スクロールダウン全体の場所*/
.scrolldown4{
	position: absolute;
	/*スクロールの位置*/
	top: 10%;
	right: 50%;
    /*矢印の動き1秒かけて永遠にループ*/
	animation: arrowmove 1s ease-in-out infinite;
}

/*下からの距離が変化して全体が下→上→下に動く*/
@keyframes arrowmove{
      0%{top: 30%;}
      50%{top: 31%;}
     100%{top: 30%;}
 }

/*Scrollテキストの描写*/
.scrolldown4 span{
    /*描画位置*/
	position: absolute;
	left:-20px;
	bottom:10px;
    /*テキストの形状*/
	color: #eee;
	font-size: 0.7rem;
	letter-spacing: 0.05em;
	/*縦書き設定*/
	-ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
}

/* 矢印の描写 */
.scrolldown4:before {
    content: "";
    /*描画位置*/
    position: absolute;
    bottom: 0;
    right: -6px;
    /*矢印の形状*/
    width: 1px;
    height: 20px;
    background: #eee;
    transform: skewX(-31deg);
}

.scrolldown4:after{
	content:"";
    /*描画位置*/
	position: absolute;
	bottom:0;
	right:0;
    /*矢印の形状*/
	width:1px;
	height: 50px;
	background:#eee;
}

/*共通に見出しの下にアンダーライン*/
.top-title{
  width: 500px;
  text-align: center;
  background:linear-gradient(transparent 70%, #00afcc 0%);
}
/*=====================================
 user/show  CSS
=====================================*/


.mypage-text{
  width: 250px;
  text-decoration: none;
  text-align: center;
  background:linear-gradient(transparent 70%, #a0d8ef 0%);
}
/*=====================================
 user&coach/edit  CSS
=====================================*/
.container_profile_edit{
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
.profile-edit {
	position: relative;
	width: 80%;
	padding: 40px 3%;
}
.profile-edit input[type=text] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	padding: 8px 0;
	padding: 0.3em;
	transition: 0.3s;
	border: 1px solid #3aacad;
	border-radius: 4px;
	outline: none;
}

.profile-edit input[type=text] {
	padding-left: 40px;
}

.profile-edit textarea{
 font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	padding: 8px 0;
	padding: 0.3em;
	transition: 0.3s;
	border: 1px solid #3aacad;
	border-radius: 4px;
	outline: none;
	padding-left: 40px;
}
/*=====================================
 post関係タイトル  CSS
=====================================*/
.pst{
  width: 200px;
  font-size: 30px;
  padding: 5px;
  margin: 20px auto;
  font-weight: bold;
  color: #6699FF;/*文字色*/
  background: #dddddd;
  border: solid 3px #6699FF;/*線*/
  border-radius: 10px;/*角の丸み*/

}
.pst p{
  text-align: center;
}
/*=====================================
 post/index CSS
=====================================*/
.pagenation{
  margin: 0;
}
/*=====================================
 room/show CSS
=====================================*/
.chat-room-user{
  width: 400px;
  margin: 40px 350px;
  text-align: center;
  background: linear-gradient(transparent 70%, #ff99ab 70%);
}
/*左側メッセージ表示*/
.left-message{
  text-align: left;
  padding: 5px 200px;
  display: flex;
  justify-content: flex-start;
}

.left-message .bms_message_box{
  position: relative;
  display: inline-block;
  width: 200px; 
  text-align: center;
  color:#FFF;
  padding: 25px;
  background-color: #ea5550;
  border-radius: 5px;
}
.left-message .bms_message_box:before {
  content: '';
  position: absolute;
  display: block;
  z-index: 1;
  border-style: solid;
  border-color: transparent #ea5550;
  border-width: 10px 10px 10px 0;
  top: 50%;
  left: -10px;
  margin-top: -10px;
}
/*右側メッセージ表示*/
.right-message{
  text-align: right;
  padding: 5px 200px;
  margin-top: 20px;/*上下の吹き出しがひっつかない様に隙間を入れる*/
  max-width: 100%;/*文字が長くなった時に吹き出しがタイムラインからはみ出さない様にする*/
  font-size: 16px;
  display: flex;
  justify-content: flex-end;
}


.right-message .bms_message_box {
  position: relative;
  display: inline-block;
  width: 200px; 
  text-align: center;
  color:#FFF;
  padding: 25px;
  background-color: #00afcc;
  border-radius: 5px;
}
.right-message .bms_message_box:before {
  content: '';
  position: absolute;
  display: block;
  z-index: 1;
  border-style: solid;
  border-color: transparent #00afcc;
  border-width: 10px 0 10px 10px;
  top: 50%;
  right: -10px;
  margin-top: -10px;
}

/*メッセージ送信フォーム*/
.send-msg{
 padding-left: 500px;
 margin: 20px;
}
/*=====================================
 finder CSS
=====================================*/
.card-deck{
  margin: 0;
}

/*=====================================
 footer CSS
=====================================*/
.footer{
  height: 100px;
}